body{
    /* background-color: rgb(255, 255, 255); */
    background-image:url(../Images/violetbg.png) ;
}



h3
{
color: rgb(21, 202, 247);
position: relative;
left:45%;

}

img{
width: 100px;
}

.Exam-cards
{
    
display: flex;
flex-direction: row;
margin-top: 2%;



}

.Exam-card
{
    width: 14%;
    margin-left: 2%;
     background-color:#ffffff;
    padding: 2%;
    box-shadow: 10px 10px;
    border-radius: 10%;
}

#submit
{
   margin-top: 5%;
   background-color: rgb(44, 44, 43);
   color: rgb(255, 255, 255);
   font-weight: bold;
   height: 2em;
}

h5 span
{ background-color: #ffdd6f;
}


.ExamCategory
{

    font-weight: bold;
text-align: center;
width: 81%;
background-color: #88faf0;
height: 80%;
margin-left: 5%;
padding: 4%;
margin-top: 2%;
background-image: url("../Images/gray.svg");
border-radius: 2%;
}


.Exam-cards img
{
    width: 100px;
height: 90px;

}


.categorytitle
{
    /* border: 2px black solid; */
    width: 30%;
    margin-left: auto;
margin-right: auto;




}

.categorytitle>p
{
    width: 20%;
    background-color: #ff1e00;
    height: 3px;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}


.categorytitle >h1
{
    font-size:  2em;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-bottom: 0.2%;
}

h4
{
    font-size: 1.2em;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

.Exam-card:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}