.instructionpage
{
                 
    
    background-image: url("../Images/violetbg.png");
    height: 170vh!important;

    background-position: 0% 0%;
    background-size: 100% 100%;
}



.instructiontitle >h2
{
    color: crimson;
    font-weight: bold;
    margin-left: 2em;
    padding: 1em;
    font-size: 2em;
    

}

.instructiondetails 
{
    padding: 1em;
    padding-top: 0em;
    font-weight: bold;
    margin: 0em 5em;
    width: 60%;
}

.instructiondetails >h2
{
    color:crimson;
}

.acceptbtn 
{
    height: 3em;
    background-color:rgb(107, 186, 254);
    font: 1em sans-serif;
    font-weight: bold;
    border-radius: 1em;

}

.accept
{
    padding: 1em;
    margin-left: 5em;

}

.acceptinstructions >p
{
    display: inline;
}